<div class="terms-page">
  {% if page.metafields.c_f.banner_image_url != blank %}
  	<div class="help-banner banner-view" style="background-image:url({{ page.metafields.c_f.banner_image_url }});">
  		<div class="row">
      		<div class="help-banner-text">
              <div class="help-banner-title">
                <h1>{{ page.title }}</h1>
              </div>              
            </div>	
      	</div>
  	</div>
  {% endif %}
  <div id="content" class="row">
    <div class="{% if settings.pagelist == '' %}desktop-12 tablet-6 mobile-3{% else %}desktop-9 tablet-4 mobile-3{% endif %}">
      <div class="rte">
        <div class="inner-text">
				
              <p>This Web site is operated by Heart to Heart Gifts, Inc. All inquiries may be directed to:</p>
              <div class="address">
                <p><strong>Heart to Heart Gifts, Inc.</strong></p>
                <p><strong>Customer Service Department</strong></p>
                <p><strong>3810 Oceanic Drive, Suite 201</strong></p>
                <p><strong>Oceanside, CA 92056</strong></p>
              </div>

              <p>Your use of this Web site is governed by these terms and conditions. Please take a few minutes to review these terms and conditions. Your use of the butterflycraze.com Web site constitutes your agreement to follow these rules and to be bound by them. If you do not agree with any of these terms and conditions, do not use the butterflycraze.com Web site.</p>
              <h4>These Terms and Conditions May Change </h4>
              <p>Heart to Heart Gifts, Inc. reserves the right to update or modify these terms and conditions at any time without prior notice. Your use of the butterflytwinkles.com Web site following any such change constitutes your agreement to follow and be bound by the terms and conditions as changed. For this reason, we encourage you to review these terms and conditions whenever you use this Web site.</p>
              <h4>Copyright Notice </h4>
              <p>All of the Content you see on this Web site, including, for example, all of the page headers, images, illustrations, graphics, audio clips, video clips, and text, are subject to trademark, service mark, trade dress, copyright and/or other intellectual property rights or licenses held by Heart to Heart Gifts, Inc., one of its affiliates or by third parties who have licensed their materials to Heart to Heart Gifts, Inc. The entire Con-tent of the butterflytwinkles.com Web site is copyrighted as a collective work under U.S. copyright laws, and Heart to Heart Gifts, inc. owns a copyright in the selection, coordination, arrangement and enhancement of the Content. The Content of the butterflytwinkles.com Web site, and the site as a whole, are intended solely for personal, noncommercial use by the users of our site. You may download, print and store selected portions of the Content, provided you (1) only use these copies of the Content for your own personal, non-commercial use, (2) do not copy or post the Con	tent on any network computer or broadcast the Content in any media, and (3) do not modify or alter the Content in any way, or delete or change any copyright or trademark notice. No right, title or interest in any downloaded materials is transferred to you as a result of any such downloading. Heart to Heart Gifts, Inc. reserves complete title and full intellectual property rights in any Content you download from this Web site. Selling ANY products from Heart to Heart Gifts, Inc. on Ebay is strictly prohibited. Except as noted above, you may not copy, download, reproduce, modify, publish, distribute, transmit, transfer or create derivative works from the Content without first obtaining written permission from Heart to Heart Gifts, Inc.</p>
              <h4>Submissions</h4>
              <p>We welcome your comments regarding the butterflytwinkles.com Web site. However, any comments, feedback, notes, messages, ideas, sug-gestions or other communications (collectively, "Comments") sent to butterflytwinkles.com shall be and remain the exclusive property of Heart to Heart Gifts, Inc. Your submission of any such Comments shall constitute an assignment to Heart to Heart Gifts, Inc.of all worldwide rights, titles and interests in all copyrights and other intellectual property rights in the Comments. Heart to Heart Gifts, Inc. will be entitled to use, reproduce, disclose, publish and distribute any material you submit for any purpose whatsoever, without restriction and without compensating you in any way. For this reason, we ask that you not send us any comments that you do not wish to assign to us, including any confidential information or any original creative materials such as stories, product ideas, computer code or original artwork.</p>
              <h4>Colors</h4>
              <p>We have done our best to display as accurately as possible the colors of the products shown on this Web site. However, because the colors you see will depend on your monitor, we cannot guarantee that your monitor's display of any color will be accurate.</p>
              <h4>Product Information</h4>
              <p>The prices displayed on this site and the catalog are quoted in U.S. Dollars and are valid and effective only in the United States. Prices are subject to change without prior notice.</p>
              <h4> Inaccuracy Disclaimer</h4>
              <p>From time to time there may be information on our Web Site or in our catalog that contains typographical errors, inaccuracies, or omissions that may relate to product descriptions, pricing, and availability. Heart to Heart Gifts, inc. reserves the right to correct any errors, inaccuracies or omissions and to change or update information at any time without prior notice (including after you have submitted your order).</p>


        </div>

      </div>
    </div>  
  </div>
</div>  



