<div class="shiping-page">
  {% if page.metafields.c_f.banner_image_url != blank %}
  	<div class="help-banner banner-view" style="background-image:url({{ page.metafields.c_f.banner_image_url }});">
  		<div class="row">
      		<div class="help-banner-text">
              <div class="help-banner-title">
                <h1>{{ page.title }}</h1>
              </div>              
            </div>	
      	</div>
  	</div>
  {% endif %}
  <div id="content" class="row">
<div class="{% if settings.pagelist == '' %}desktop-12 tablet-6 mobile-3{% else %}desktop-9 tablet-4 mobile-3{% endif %}">
  	<div class="rte">
      	<div class="inner-text">
          <h2>U.S. Orders</h2>
          <p>All orders placed by 2 p.m. PDT Monday through Friday will be processed the some day. Orders placed after 2 p.m. PDT on Friday and all orders placed on Saturday and Sunday, will be processed on the following Monday (excluding holidays). All orders are processed and shipped from our warehouse in San Diego, California.</p>
          <h4>Shipping Confirmation</h4>
          <p>You will receive an email confirmation with the tracking number once your order has been shipped. Click on the tracking number within the email to view the status of your package. You may also call customer service at our toll free number: 877-587-6974 Monday through Friday 9:00 AM &mdash; 6:00 PM to receive an update on your order status.</p>
          <h4>P.O. Boxes and APO &amp; FPO Addresses</h4>
          <p>We offer shipping to PO Boxes and APO/FPO addresses using USPS First Class, USPS Priority, or USPS Express. FedEx will NOT ship to PO boxes and APO addresses.</p>
          <div class="space-bar">
          <h2>International Orders</h2>
          <p>You will be charged for product and shipping charges after submitting your order and you will be responsible for paying taxes and duties to Customs at the time of delivery.</p>
          <p>NOTE: If you are shipping to an APO/FPO address, please select United States as your country and select AA, AE or AP as your State. If you are unsure about your address or how to checkout, please contact us at 877-587-6974 or email us at customerservice@butterflycraze.com.</p>
          <h4>Pricing</h4>
          <p>All prices shown on butterflycraze.com are in U.S. dollars. If you need a conversion to your local currency, please refer to http://finance.ya-hoo.com/currency or a similar website. Exchange rates change daily, and butterflycraze.com is not responsible for any loss incurred as a result of currency fluctuation.</p>
          <h4>Returns</h4>          
            <p>Before placing your order, please be advised that international returns are both expensive and time consuming. We will accept returns from customers for up to 30 days from the date of receipt. Return items must be sent back unworn or unused. You are responsible for paying post-age and insurance on any return package mailed back to us.</p>
            <p>To return/exchange an item purchased at butterflycraze.com, please fill out and enclose the return form attached to the back of the in-voice that arrived with your package. You may use any shipper you Like, but we recommend purchasing tracking and insurance as butter-flycraze.com is not responsible for packages that do not reach our warehouse. Please ship your return to the following address:</p>
            <p>Heart To Heart Gifts, Inc.</p>
            <p>Attn: Returns</p>
            <p>3810 Oceanic Dr Ste 201</p>
            <p>Oceanside, CA 92056</p>
            <p>USA</p>
            <p>Once we receive your return package, please allow 1-2 business days for processing. We will send you an email notification when your refund has been processed. Your refund will be issued according to the payment method you selected for the original order. Shipping fees are non-refundable.</p>
            <p>We will refund you only for the merchandise returned. We cannot refund your tax, duty, and Customs fees that were paid at the time of deliv-ery. To obtain a refund of these fees, please refer to the page with your country's specific information for contacting your local Customs office.</p>
            <h4>Canada Tax and Duty Charges</h4>
            <p>Customs Law requires that all applicable duties and taxes must be paid for shipments entering Canada. By placing an order with us, you agree to pay the duties and taxes charged by Customs at the time of delivery. Customs duty and Value-Added Tax (VAT) will be payable, as follows:</p>
            <p>Customs duty &mdash; Typically 20-30% of product price (based on product characteristics)</p>
            <p>Tax &mdash; Typically 6-16% of product price (based on province)</p>
            <p>When goods are imported by mail, Canada Post is authorized to charge the recipient a $5 handling fee for collecting and remitting duties and taxes that are owed to the government. Canada Post charges an $8 fee for items mailed by priority post.</p>
            <p>For further assistance in understanding and estimating taxes and duties, please visit Canada customs at www.ccra-adrc.gc.ca (Canada Revenue Agency) or www.cbsa-asfc.gc.ca (Canada Border Services Agency), or by calling 1-800-959-5525 from within Canada.</p>
            <h4>UK Tax and Duty Charges</h4>
            <p>Customs law requires that all applicable duties and taxes must be paid for shipments entering the UK. By placing an order with us, you agree to pay the duties and taxes charged by Customs at the time of delivery. Customs duty and Value-Added Tax (VAT) will be payable, as follows:</p>
            <p>Customs duty &mdash; Typically 15-20% of product price (based on product characteristics)</p>
            <p>Tax &mdash; Typically 17.5% of total order including shipping</p>
            <p>For further assistance in understanding and estimating taxes and duties please, visit HMRC at www.hmrc.gov.uk or contact HM Revenue &amp; Customs at email address Enquiries.estn@hmrc.gsi.gov.uk or phone number 0845 010 9000.</p>
            <p>&nbsp;</p>
          </div>  
      </div>
      </div>

</div>
  </div>
</div>  



