<div class="privacy-page">
  {% if page.metafields.c_f.banner_image_url != blank %}
  	<div class="help-banner banner-view" style="background-image:url({{ page.metafields.c_f.banner_image_url }});">
  		<div class="row">
      		<div class="help-banner-text">
              <div class="help-banner-title">
                <h1>{{ page.title }}</h1>
              </div>              
            </div>	
      	</div>
  	</div>
  {% endif %}
  <div id="content" class="row">
      <div class="{% if settings.pagelist == '' %}desktop-12 tablet-6 mobile-3{% else %}desktop-9 tablet-4 mobile-3{% endif %}">
        <div class="rte">
			<div class="inner-text">          			
              <h2>Your Privacy rights</h2>
              <p>This Privacy Policy describes the personally identifiable information that Heart to Heart Gifts, Inc. ("we") collects through our website located at www.butterflycraze.com (the "Site") and how we use that information. Please note that this Privacy Policy applies solely to our online infor-mation-gathering and dissemination practices in connection with the Site, and does not apply to any of our practices conducted offline. If you have any questions or comments about this Privacy Policy or our practices regarding your personally identifiable information, please contact us via e-mail or by phone 1-877-587-6974.</p>
              <h4>Information Secure Under Lock and Key</h4>
              <p>We take all reasonable steps to protect our customers' personal information against loss, misuse, and alteration. We use encryption tech-nology whenever receiving and transferring your personal information on our site.When you make a purchase online, either a solid key or a locked padlock icon will appear in the lower right of your browser window. This icon indicates that your transaction session is secured through Secure Sockets Layer (SSL). If one of these icons does not appear, please contact Heart to Heart Gifts, Inc. at 877-587-6974 to com-plete your purchase.</p>
              <h4>Update Your Information</h4>
              <p>Updating your contact information is quick and easy. Just contact us, including your previous and current full name, mailing address, email address and phone number. Please understand updates may take from six to eight weeks to process from the date of request receipt.</p>
              <h4>Information Sharing</h4>
              <p>We will not share your information with any third party.</p>
              <h4>Remove Your Name From Our Lists At Any Time</h4>
              <p>To delete your name from the Heart to Heart Gifts, Inc. email mailing list, click here. To request to have your name removed from the catalogue mailing list, simply contact us. Please provide your full name, mailing address, email address, and phone number. We appre-ciate your patience as it may take up to six to eight weeks to process your request from the date of receipt. When you make subsequent purchases at Heart to Heart Gifts Inc., you may provide contact information for customer service only and request that your name not be forwarded to either mailing list.</p>                    
          </div>
        </div>
      </div>
  </div>
</div> 
  



