 <form action="/admin/customers/{{ customer.id }}/metafields.json" method="POST" id="custmeta">
    <input type="hidden" name="customer[id]" value="{{ customer.id }}" />
    <input type="text" name="metafield[c_f.proxy_pickup]" value="{{ customer.metafields.c_f.proxy_pickup }}" placeholder="{{ customer.metafields.c_f.proxy_pickup }}" />
    <input type="submit" value="Edit"/>
  </form>

  <script>
    $('form#custmeta').submit(function(e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        dataType: "json",
        data: $(this).serialize(),
        url: $(this).attr('action'),
        success: function (data) {
          var formValid = (data.status === 'OK');
          if (formValid) {
            var msgs = '';
            for (var i=0;i<data.messages.length;i++) {
              msgs += '-- ' + data.messages[i] + '\n';
            }
            if (msgs > '') {
              alert('SUCCESS WITH MESSAGES:\n\n' + msgs);
            }
            else {
              alert('SUCCESS!');
            }
          }
          else {
            alert('Status: ' + data.status + '\nMessage: ' + data.message);
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert('AJAX or Server 500 error occurred');
        }
      });
      return false;
    });
  </script>