<div class="section-title desktop-12 mobile-3">
  <h1>test</h1>
</div>

<div id="page" class="desktop-6 tablet-6 mobile-3">
  <div class="rte">test</div>
</div>

<div class="desktop-6 mobile-3 tablet-6">

  {% include 'contact-sidebar' %}

</div>

